body, button {
    background: black;
    color: white;
}

svg {
    display: none;
}

#ul {
    list-style: none;
    margin-left: 0;
}

li[data-source='ws-message']:not([data-event=">"]) {
    padding-left: 0.25em;
    margin-left: 0.25em;
    border-left: 1px solid gray;
}

li[data-event="COMPLETED"] > details {
    margin-bottom: 1em;
}

li > pre {
    margin-top: 0;
    margin-bottom: 0;
}

li > details {
    padding-left: 1em;
}

li > details > summary {
    margin-left: -1em;
}

details > details {
    display: inline-block;
    vertical-align: top;
}

details > details:not([open]) {
    writing-mode: vertical-lr;
    margin-top: 4px;
    margin-left: -4px;
    margin-right: 4px;
}

details[data-type="IMAGE"] > img, details[data-type="target"] > img {
    filter: url(#imgFilter);
    object-fit: none;
    background: #222;
    border: 20px solid black;
}

details[data-type="IMAGE"] > img:hover, details[data-type="target"] > img:hover {
    cursor: none;
    border-color: blue;
}

details > img + div {
    position: absolute;
    margin-top: calc(-1.5em - 5px);
    margin-left: 10px;
    z-index: 1;
}

details[data-type="target"] > summary {
    padding: 5px;
}

details[data-type="target"] > summary > a {
    color: white;
    text-decoration: none;
    background: darkgreen;
    font-family: monospace;
    padding: 5px;
}

details[data-type="target"] > summary > a:visited {
    font-style: italic;
}

button {
    cursor: pointer;
    background: darkgreen;
}

:focus {
    outline: none;
}
